@import url("https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i");

* {
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 75px;
  margin-bottom: 75px;
  position: fixed;
  padding: 20px;
  background-color: #03122b;
  color: white;
  //text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  min-height: 100vh;
  font-size: 20px;
}

.description {
  margin-top: 5px;
  margin-top: 5px;
}

a {
  color: cyan;
  text-decoration: none;
  margin-top: 20px;
  font-style: initial;
  font-weight: 700;
}

.nameis {
  padding: 0;
  margin: 0;
}

.languages {
  padding: 5px;
  border: thin;
  width: 350px;
  margin: 5px;
  font-size: small;
}

.effect-shine {
  margin-top: 0px;
  margin-bottom: 10px;
}

.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(56, 57, 163, 0.6) 30%,
    #000 50%,
    rgba(8, 129, 45, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 3s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

.footer {
  font-size: small;
}

.social {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 10px;
    margin-left: 30px;
  }
  .description {
    width: 70%;
  }
}
